{
  "openapi": "3.1.0",
  "info": {
    "title": "MLB",
    "version": "8"
  },
  "servers": [
    {
      "url": "https://api.sportradar.com/mlb/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/{access_level}/v8/{language_code}/league/{year}/{month}/{day}/changes.{format}": {
      "get": {
        "summary": "Daily Change Log",
        "description": "**MLB Daily Change Log** provides IDs and timestamps for teams, players, game statistics, schedules, and standings that have been modified on a given date. To receive the data updates, use these unique IDs to pull relevant API feeds.",
        "operationId": "mlb-daily-change-log",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`production` (Production), `trial` (Trial),<br>`tracking` (Statcast Production), `trial-tracking` (Statcast Trial)",
            "schema": {
              "type": "string",
              "enum": [
                "production",
                "trial",
                "tracking",
                "trial-tracking"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`en` (English)",
            "schema": {
              "type": "string",
              "enum": [
                "en"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "year",
            "in": "path",
            "description": "Year in `YYYY` format",
            "schema": {
              "type": "string",
              "enum": [
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019",
                "2020",
                "2021",
                "2022",
                "2023",
                "2024",
                "2025"
              ],
              "default": "2024"
            },
            "required": true
          },
          {
            "name": "month",
            "in": "path",
            "description": "Month in `MM` format",
            "schema": {
              "type": "string",
              "enum": [
                "01",
                "02",
                "03",
                "04",
                "05",
                "06",
                "07",
                "08",
                "09",
                "10",
                "11",
                "12"
              ],
              "default": "08"
            },
            "required": true
          },
          {
            "name": "day",
            "in": "path",
            "description": "Date in `DD` format<br><br>**Note:** Start time of the log is _10:00:00 UTC_; end time is _09:59:59 UTC_",
            "schema": {
              "type": "string",
              "enum": [
                "01",
                "02",
                "03",
                "04",
                "05",
                "06",
                "07",
                "08",
                "09",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "22",
                "23",
                "24",
                "25",
                "26",
                "27",
                "28",
                "29",
                "30",
                "31"
              ],
              "default": "28"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "JSON": {
                    "value": "{\n    \"league\": {\n        \"id\": \"2fa448bc-fc17-4d3d-be03-e60e080fdc26\",\n        \"name\": \"Major League Baseball\",\n        \"alias\": \"MLB\"\n    },\n    \"start_time\": \"2022-09-15T09:00:00+00:00\",\n    \"end_time\": \"2022-09-16T08:59:58+00:00\",\n    \"players\": [\n        {\n            \"id\": \"db85fd32-1720-4253-81de-37c9d798b8be\",\n            \"first_name\": \"Jonathan\",\n            \"last_name\": \"Brubaker\",\n            \"preferred_name\": \"JT\",\n            \"last_modified\": \"2022-09-16T01:43:58+00:00\"\n        }\n    ],\n    \"schedule\": [\n        {\n            \"id\": \"a47b7a17-f052-4274-a616-b192f66d3808\",\n            \"title\": \"Padres(SD)@Diamondbacks(ARI)\",\n            \"season_id\": \"f5aa580e-8103-4ff5-beb0-965dbe8a8cf1\",\n            \"last_modified\": \"2022-09-16T04:22:00+00:00\"\n        }\n    ],\n    \"results\": [\n        {\n            \"id\": \"a47b7a17-f052-4274-a616-b192f66d3808\",\n            \"title\": \"Padres(SD)@Diamondbacks(ARI)\",\n            \"season_id\": \"f5aa580e-8103-4ff5-beb0-965dbe8a8cf1\",\n            \"last_modified\": \"2022-09-16T04:21:59+00:00\"\n        }\n    ],\n    \"standings\": [\n        {\n            \"id\": \"1d678440-b4b1-4954-9b39-70afb3ebbcfa\",\n            \"name\": \"Blue Jays\",\n            \"market\": \"Toronto\",\n            \"abbr\": \"TOR\",\n            \"last_modified\": \"2022-09-16T04:25:10+00:00\"\n        }\n    ],\n    \"_comment\": \"Generation started @ 2022-11-28 19:01:50 UTC ended @ 2022-11-28 19:01:50 UTC\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "league": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "2fa448bc-fc17-4d3d-be03-e60e080fdc26"
                        },
                        "name": {
                          "type": "string",
                          "example": "Major League Baseball"
                        },
                        "alias": {
                          "type": "string",
                          "example": "MLB"
                        }
                      }
                    },
                    "start_time": {
                      "type": "string",
                      "example": "2022-09-15T09:00:00+00:00"
                    },
                    "end_time": {
                      "type": "string",
                      "example": "2022-09-16T08:59:58+00:00"
                    },
                    "players": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "db85fd32-1720-4253-81de-37c9d798b8be"
                          },
                          "first_name": {
                            "type": "string",
                            "example": "Jonathan"
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Brubaker"
                          },
                          "preferred_name": {
                            "type": "string",
                            "example": "JT"
                          },
                          "last_modified": {
                            "type": "string",
                            "example": "2022-09-16T01:43:58+00:00"
                          }
                        }
                      }
                    },
                    "schedule": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "a47b7a17-f052-4274-a616-b192f66d3808"
                          },
                          "title": {
                            "type": "string",
                            "example": "Padres(SD)@Diamondbacks(ARI)"
                          },
                          "season_id": {
                            "type": "string",
                            "example": "f5aa580e-8103-4ff5-beb0-965dbe8a8cf1"
                          },
                          "last_modified": {
                            "type": "string",
                            "example": "2022-09-16T04:22:00+00:00"
                          }
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "a47b7a17-f052-4274-a616-b192f66d3808"
                          },
                          "title": {
                            "type": "string",
                            "example": "Padres(SD)@Diamondbacks(ARI)"
                          },
                          "season_id": {
                            "type": "string",
                            "example": "f5aa580e-8103-4ff5-beb0-965dbe8a8cf1"
                          },
                          "last_modified": {
                            "type": "string",
                            "example": "2022-09-16T04:21:59+00:00"
                          }
                        }
                      }
                    },
                    "standings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "1d678440-b4b1-4954-9b39-70afb3ebbcfa"
                          },
                          "name": {
                            "type": "string",
                            "example": "Blue Jays"
                          },
                          "market": {
                            "type": "string",
                            "example": "Toronto"
                          },
                          "abbr": {
                            "type": "string",
                            "example": "TOR"
                          },
                          "last_modified": {
                            "type": "string",
                            "example": "2022-09-16T04:25:10+00:00"
                          }
                        }
                      }
                    },
                    "_comment": {
                      "type": "string",
                      "example": "Generation started @ 2022-11-28 19:01:50 UTC ended @ 2022-11-28 19:01:50 UTC"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v8/{language_code}/games/{year}/{month}/{day}/summary.{format}": {
      "get": {
        "summary": "Daily Summary",
        "description": "**MLB Daily Summary** provides team lineups as well as team and player statistics for all games on a given MLB defined day.",
        "operationId": "mlb-daily-summary",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`production` (Production), `trial` (Trial),<br>`tracking` (Statcast Production), `trial-tracking` (Statcast Trial)",
            "schema": {
              "type": "string",
              "enum": [
                "production",
                "trial",
                "tracking",
                "trial-tracking"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`en` (English)",
            "schema": {
              "type": "string",
              "enum": [
                "en"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "year",
            "in": "path",
            "description": "Year in `YYYY` format",
            "schema": {
              "type": "string",
              "enum": [
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019",
                "2020",
                "2021",
                "2022",
                "2023",
                "2024",
                "2025"
              ],
              "default": "2024"
            },
            "required": true
          },
          {
            "name": "month",
            "in": "path",
            "description": "Month in `MM` format",
            "schema": {
              "type": "string",
              "enum": [
                "01",
                "02",
                "03",
                "04",
                "05",
                "06",
                "07",
                "08",
                "09",
                "10",
                "11",
                "12"
              ],
              "default": "08"
            },
            "required": true
          },
          {
            "name": "day",
            "in": "path",
            "description": "Date in `DD` format<br><br>**Note:** A Major League Baseball day begins at 4am ET and ends at 3:59:59am ET the following day.",
            "schema": {
              "type": "string",
              "enum": [
                "01",
                "02",
                "03",
                "04",
                "05",
                "06",
                "07",
                "08",
                "09",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "22",
                "23",
                "24",
                "25",
                "26",
                "27",
                "28",
                "29",
                "30",
                "31"
              ],
              "default": "28"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"league\": {\n        \"alias\": \"MLB\",\n        \"name\": \"Major League Baseball\",\n        \"id\": \"2fa448bc-fc17-4d3d-be03-e60e080fdc26\",\n        \"date\": \"2024-04-02\",\n        \"games\": [\n            {\n                \"game\": {\n                    \"id\": \"4d3677f8-c02a-4d35-977d-27cb0a9d92a6\",\n                    \"status\": \"closed\",\n                    \"coverage\": \"full\",\n                    \"game_number\": 1,\n                    \"day_night\": \"N\",\n                    \"scheduled\": \"2024-04-03T01:40:00+00:00\",\n                    \"home_team\": \"25507be1-6a68-4267-bd82-e097d94b359b\",\n                    \"away_team\": \"a09ec676-f887-43dc-bbb3-cf4bbaee9a18\",\n                    \"attendance\": 39863,\n                    \"duration\": \"2:27\",\n                    \"season_id\": \"6a5c278f-ebce-41f9-b1ba-2160b6af04ce\",\n                    \"season_type\": \"REG\",\n                    \"season_year\": 2024,\n                    \"double_header\": false,\n                    \"entry_mode\": \"STOMP\",\n                    \"reference\": \"747220\",\n                    \"time_zones\": {\n                        \"venue\": \"US/Arizona\",\n                        \"home\": \"US/Arizona\",\n                        \"away\": \"US/Eastern\"\n                    },\n                    \"venue\": {\n                        \"name\": \"Chase Field\",\n                        \"market\": \"Arizona\",\n                        \"capacity\": 48359,\n                        \"surface\": \"turf\",\n                        \"address\": \"401 East Jefferson Street\",\n                        \"city\": \"Phoenix\",\n                        \"state\": \"AZ\",\n                        \"zip\": \"85004\",\n                        \"country\": \"USA\",\n                        \"id\": \"bf05de0d-7ced-4a19-8e17-2bbd985f8a92\",\n                        \"field_orientation\": \"N\",\n                        \"stadium_type\": \"retractable\",\n                        \"time_zone\": \"US/Arizona\",\n                        \"location\": {\n                            \"lat\": \"33.445302\",\n                            \"lng\": \"-112.066687\"\n                        }\n                    },\n                    \"broadcasts\": [\n                        {\n                            \"network\": \"ARID\",\n                            \"type\": \"Internet\",\n                            \"locale\": \"Home\"\n                        },\n                        {\n                            \"network\": \"YES\",\n                            \"type\": \"TV\",\n                            \"locale\": \"Away\",\n                            \"channel\": \"631\"\n                        }\n                    ],\n                    \"weather\": {\n                        \"forecast\": {\n                            \"temp_f\": 73,\n                            \"condition\": \"Partly cloudy\",\n                            \"humidity\": 33,\n                            \"dew_point_f\": 42,\n                            \"cloud_cover\": 25,\n                            \"obs_time\": \"2024-04-03T02:13:23.000+00:00\",\n                            \"wind\": {\n                                \"speed_mph\": 12,\n                                \"direction\": \"SSW\"\n                            }\n                        },\n                        \"current_conditions\": {\n                            \"temp_f\": 70,\n                            \"condition\": \"Clear\",\n                            \"humidity\": 39,\n                            \"dew_point_f\": 43,\n                            \"cloud_cover\": 0,\n                            \"obs_time\": \"2024-04-03T04:04:09.000+00:00\",\n                            \"wind\": {\n                                \"speed_mph\": 8,\n                                \"direction\": \"WSW\"\n                            }\n                        }\n                    },\n                    \"final\": {\n                        \"inning\": 9,\n                        \"inning_half\": \"T\"\n                    },\n                    \"home\": {\n                        \"name\": \"Diamondbacks\",\n                        \"market\": \"Arizona\",\n                        \"abbr\": \"AZ\",\n                        \"id\": \"25507be1-6a68-4267-bd82-e097d94b359b\",\n                        \"runs\": 7,\n                        \"hits\": 11,\n                        \"errors\": 0,\n                        \"win\": 4,\n                        \"loss\": 2,\n                        \"probable_pitcher\": {\n                            \"preferred_name\": \"Zac\",\n                            \"first_name\": \"Zachary\",\n                            \"last_name\": \"Gallen\",\n                            \"jersey_number\": \"23\",\n                            \"id\": \"e488a3a6-4673-4e5d-befe-6d5ab57b0b8e\",\n                            \"full_name\": \"Zac Gallen\",\n                            \"win\": 1,\n                            \"loss\": 0,\n                            \"era\": 1.8\n                        },\n                        \"starting_pitcher\": {\n                            \"preferred_name\": \"Zac\",\n                            \"first_name\": \"Zachary\",\n                            \"last_name\": \"Gallen\",\n                            \"jersey_number\": \"23\",\n                            \"id\": \"e488a3a6-4673-4e5d-befe-6d5ab57b0b8e\",\n                            \"full_name\": \"Zac Gallen\",\n                            \"win\": 1,\n                            \"loss\": 0,\n                            \"era\": 1.8\n                        },\n                        \"roster\": [\n                            {\n                                \"preferred_name\": \"Jorge\",\n                                \"first_name\": \"Jorge\",\n                                \"last_name\": \"Barrosa\",\n                                \"jersey_number\": \"1\",\n                                \"id\": \"fdc95893-39e2-4c38-8544-132b2d30bd83\",\n                                \"full_name\": \"Jorge Barrosa\",\n                                \"status\": \"A\",\n                                \"position\": \"OF\",\n                                \"primary_position\": \"LF\"\n                            }\n                        ],\n                        \"lineup\": [\n                            {\n                                \"id\": \"965b3981-3ecf-402e-a338-6dde330b445c\",\n                                \"inning\": 9,\n                                \"order\": 1,\n                                \"position\": 1,\n                                \"sequence\": 15,\n                                \"inning_half\": \"T\"\n                            }\n                        ],\n                        \"scoring\": [\n                            {\n                                \"number\": 9,\n                                \"sequence\": 9,\n                                \"runs\": \"X\",\n                                \"hits\": \"X\",\n                                \"errors\": \"X\",\n                                \"type\": \"inning\"\n                            }\n                        ],\n                        \"statistics\": {\n                            \"hitting\": {\n                                \"overall\": {\n                                    \"ab\": 35,\n                                    \"lob\": 17,\n                                    \"rbi\": 6,\n                                    \"abhr\": 35.0,\n                                    \"abk\": 5.0,\n                                    \"bip\": 27,\n                                    \"babip\": 0.37,\n                                    \"bbk\": 0.571,\n                                    \"bbpa\": 0.103,\n                                    \"iso\": 0.115,\n                                    \"obp\": 0.385,\n                                    \"ops\": 0.814,\n                                    \"seca\": 0.229,\n                                    \"slg\": 0.429,\n                                    \"xbh\": 2,\n                                    \"pitch_count\": 150,\n                                    \"lob_risp_2out\": 5,\n                                    \"team_lob\": 8,\n                                    \"ab_risp\": 12,\n                                    \"hit_risp\": 5,\n                                    \"rbi_2out\": 0,\n                                    \"linedrive\": 7,\n                                    \"groundball\": 13,\n                                    \"popup\": 4,\n                                    \"flyball\": 4,\n                                    \"ap\": 39,\n                                    \"avg\": \".314\",\n                                    \"gofo\": 0.89,\n                                    \"onbase\": {\n                                        \"s\": 9,\n                                        \"d\": 1,\n                                        \"t\": 0,\n                                        \"hr\": 1,\n                                        \"tb\": 15,\n                                        \"bb\": 4,\n                                        \"ibb\": 0,\n                                        \"hbp\": 0,\n                                        \"fc\": 3,\n                                        \"roe\": 1,\n                                        \"h\": 11,\n                                      \t\"ci\": 0,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\"rov\": 0,\n                                        \"cycle\": 0\n                                    },\n                                    \"runs\": {\n                                        \"total\": 7\n                                    },\n                                    \"outcome\": {\n                                        \"klook\": 30,\n                                        \"kswing\": 13,\n                                        \"ktotal\": 43,\n                                        \"ball\": 54,\n                                        \"iball\": 0,\n                                        \"dirtball\": 2,\n                                        \"foul\": 23\n                                    },\n                                    \"outs\": {\n                                        \"po\": 4,\n                                        \"fo\": 3,\n                                        \"fidp\": 0,\n                                        \"lo\": 2,\n                                        \"lidp\": 0,\n                                        \"go\": 8,\n                                        \"gidp\": 0,\n                                        \"klook\": 1,\n                                        \"kswing\": 6,\n                                        \"ktotal\": 7,\n                                        \"sacfly\": 0,\n                                        \"sachit\": 0\n                                    },\n                                    \"steal\": {\n                                        \"caught\": 1,\n                                        \"stolen\": 1,\n                                        \"pct\": 0.5,\n                                        \"pickoff\": 1\n                                    },\n                                    \"pitches\": {\n                                        \"count\": 150,\n                                        \"btotal\": 56,\n                                        \"ktotal\": 94\n                                    }\n                                }\n                            },\n                            \"pitching\": {\n                                \"overall\": {\n                                    \"oba\": 0.107,\n                                    \"lob\": 7,\n                                    \"era\": 0.0,\n                                    \"k9\": 8.001,\n                                    \"whip\": 0.6667,\n                                    \"kbb\": 2.67,\n                                    \"pitch_count\": 131,\n                                    \"wp\": 0,\n                                    \"bk\": 0,\n                                    \"ip_1\": 27,\n                                    \"ip_2\": 9.0,\n                                    \"bf\": 31,\n                                    \"gofo\": 0.889,\n                                    \"babip\": 0.15,\n                                    \"bf_ip\": 3.444,\n                                    \"bf_start\": 22.0,\n                                    \"gbfb\": 1.667,\n                                    \"oab\": 28,\n                                    \"slg\": 0.107,\n                                    \"obp\": 0.194,\n                                    \"times_through_order\": 2,\n                                    \"onbase\": {\n                                        \"s\": 3,\n                                        \"d\": 0,\n                                        \"t\": 0,\n                                        \"hr\": 0,\n                                        \"tb\": 3,\n                                        \"bb\": 3,\n                                        \"ibb\": 0,\n                                        \"hbp\": 0,\n                                        \"fc\": 0,\n                                        \"roe\": 0,\n                                        \"h\": 3,\n                                       \t\"ci\": 0,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\"rov\": 0,\n                                        \"h9\": 2.997,\n                                        \"hr9\": 0.0\n                                    },\n                                    \"runs\": {\n                                        \"total\": 0,\n                                        \"unearned\": 0,\n                                        \"earned\": 0,\n                                        \"ir\": 0,\n                                        \"ira\": 0,\n                                        \"bqr\": 0,\n                                        \"bqra\": 0\n                                    },\n                                    \"outcome\": {\n                                        \"klook\": 27,\n                                        \"kswing\": 6,\n                                        \"ktotal\": 33,\n                                        \"ball\": 54,\n                                        \"iball\": 0,\n                                        \"dirtball\": 0,\n                                        \"foul\": 24\n                                    },\n                                    \"outs\": {\n                                        \"po\": 0,\n                                        \"fo\": 6,\n                                        \"fidp\": 0,\n                                        \"lo\": 3,\n                                        \"lidp\": 0,\n                                        \"go\": 8,\n                                        \"gidp\": 2,\n                                        \"klook\": 5,\n                                        \"kswing\": 3,\n                                        \"ktotal\": 8,\n                                        \"sacfly\": 0,\n                                        \"sachit\": 0\n                                    },\n                                    \"steal\": {\n                                        \"caught\": 0,\n                                        \"stolen\": 0,\n                                        \"pickoff\": 0\n                                    },\n                                    \"pitches\": {\n                                        \"count\": 131,\n                                        \"btotal\": 54,\n                                        \"ktotal\": 77,\n                                        \"per_ip\": 14.556,\n                                        \"per_bf\": 4.226,\n                                        \"per_start\": 96.0\n                                    },\n                                    \"in_play\": {\n                                        \"linedrive\": 4,\n                                        \"groundball\": 10,\n                                        \"popup\": 0,\n                                        \"flyball\": 6\n                                    },\n                                    \"games\": {\n                                        \"svo\": 0,\n                                        \"qstart\": 1,\n                                        \"shutout\": 0,\n                                        \"complete\": 0,\n                                        \"win\": 1,\n                                        \"loss\": 0,\n                                        \"save\": 0,\n                                        \"hold\": 1,\n                                        \"blown_save\": 0\n                                    }\n                                },\n                                \"starters\": {\n                                    \"oba\": 0.158,\n                                    \"lob\": 7,\n                                    \"era\": 0.0,\n                                    \"k9\": 9.0,\n                                    \"whip\": 1.0,\n                                    \"kbb\": 2.0,\n                                    \"pitch_count\": 96,\n                                    \"wp\": 0,\n                                    \"bk\": 0,\n                                    \"ip_1\": 18,\n                                    \"ip_2\": 6.0,\n                                    \"bf\": 22,\n                                    \"gofo\": 1.5,\n                                    \"babip\": 0.231,\n                                    \"bf_ip\": 3.667,\n                                    \"bf_start\": 22.0,\n                                    \"gbfb\": 8.0,\n                                    \"oab\": 19,\n                                    \"slg\": 0.158,\n                                    \"obp\": 0.273,\n                                    \"times_through_order\": 2,\n                                    \"onbase\": {\n                                        \"s\": 3,\n                                        \"d\": 0,\n                                        \"t\": 0,\n                                        \"hr\": 0,\n                                        \"tb\": 3,\n                                        \"bb\": 3,\n                                        \"ibb\": 0,\n                                        \"hbp\": 0,\n                                        \"fc\": 0,\n                                        \"roe\": 0,\n                                        \"h\": 3,\n                                       \t\"ci\": 0,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\"rov\": 0,\n                                        \"h9\": 4.5,\n                                        \"hr9\": 0.0\n                                    },\n                                    \"runs\": {\n                                        \"total\": 0,\n                                        \"unearned\": 0,\n                                        \"earned\": 0,\n                                        \"ir\": 0,\n                                        \"ira\": 0,\n                                        \"bqr\": 0,\n                                        \"bqra\": 0\n                                    },\n                                    \"outcome\": {\n                                        \"klook\": 20,\n                                        \"kswing\": 4,\n                                        \"ktotal\": 24,\n                                        \"ball\": 40,\n                                        \"iball\": 0,\n                                        \"dirtball\": 0,\n                                        \"foul\": 19\n                                    },\n                                    \"outs\": {\n                                        \"po\": 0,\n                                        \"fo\": 1,\n                                        \"fidp\": 0,\n                                        \"lo\": 3,\n                                        \"lidp\": 0,\n                                        \"go\": 6,\n                                        \"gidp\": 2,\n                                        \"klook\": 4,\n                                        \"kswing\": 2,\n                                        \"ktotal\": 6,\n                                        \"sacfly\": 0,\n                                        \"sachit\": 0\n                                    },\n                                    \"steal\": {\n                                        \"caught\": 0,\n                                        \"stolen\": 0,\n                                        \"pickoff\": 0\n                                    },\n                                    \"pitches\": {\n                                        \"count\": 96,\n                                        \"btotal\": 40,\n                                        \"ktotal\": 56,\n                                        \"per_ip\": 16.0,\n                                        \"per_bf\": 4.364,\n                                        \"per_start\": 96.0\n                                    },\n                                    \"in_play\": {\n                                        \"linedrive\": 4,\n                                        \"groundball\": 8,\n                                        \"popup\": 0,\n                                        \"flyball\": 1\n                                    },\n                                    \"games\": {\n                                        \"svo\": 0,\n                                        \"qstart\": 1,\n                                        \"shutout\": 0,\n                                        \"complete\": 0,\n                                        \"win\": 1,\n                                        \"loss\": 0,\n                                        \"save\": 0,\n                                        \"hold\": 0,\n                                        \"blown_save\": 0\n                                    }\n                                },\n                                \"bullpen\": {\n                                    \"oba\": 0.0,\n                                    \"lob\": 0,\n                                    \"era\": 0.0,\n                                    \"k9\": 6.003,\n                                    \"whip\": 0.0,\n                                    \"kbb\": 0.0,\n                                    \"pitch_count\": 35,\n                                    \"wp\": 0,\n                                    \"bk\": 0,\n                                    \"ip_1\": 9,\n                                    \"ip_2\": 3.0,\n                                    \"bf\": 9,\n                                    \"gofo\": 0.4,\n                                    \"babip\": 0.0,\n                                    \"bf_ip\": 3.0,\n                                    \"gbfb\": 0.4,\n                                    \"oab\": 9,\n                                    \"slg\": 0.0,\n                                    \"obp\": 0.0,\n                                    \"times_through_order\": 0,\n                                    \"onbase\": {\n                                        \"s\": 0,\n                                        \"d\": 0,\n                                        \"t\": 0,\n                                        \"hr\": 0,\n                                        \"tb\": 0,\n                                        \"bb\": 0,\n                                        \"ibb\": 0,\n                                        \"hbp\": 0,\n                                        \"fc\": 0,\n                                        \"roe\": 0,\n                                        \"h\": 0,\n                                       \t\"ci\": 0,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\"rov\": 0,\n                                        \"h9\": 0.0,\n                                        \"hr9\": 0.0\n                                    },\n                                    \"runs\": {\n                                        \"total\": 0,\n                                        \"unearned\": 0,\n                                        \"earned\": 0,\n                                        \"ir\": 0,\n                                        \"ira\": 0,\n                                        \"bqr\": 0,\n                                        \"bqra\": 0\n                                    },\n                                    \"outcome\": {\n                                        \"klook\": 7,\n                                        \"kswing\": 2,\n                                        \"ktotal\": 9,\n                                        \"ball\": 14,\n                                        \"iball\": 0,\n                                        \"dirtball\": 0,\n                                        \"foul\": 5\n                                    },\n                                    \"outs\": {\n                                        \"po\": 0,\n                                        \"fo\": 5,\n                                        \"fidp\": 0,\n                                        \"lo\": 0,\n                                        \"lidp\": 0,\n                                        \"go\": 2,\n                                        \"gidp\": 0,\n                                        \"klook\": 1,\n                                        \"kswing\": 1,\n                                        \"ktotal\": 2,\n                                        \"sacfly\": 0,\n                                        \"sachit\": 0\n                                    },\n                                    \"steal\": {\n                                        \"caught\": 0,\n                                        \"stolen\": 0,\n                                        \"pickoff\": 0\n                                    },\n                                    \"pitches\": {\n                                        \"count\": 35,\n                                        \"btotal\": 14,\n                                        \"ktotal\": 21,\n                                        \"per_ip\": 11.667,\n                                        \"per_bf\": 3.889\n                                    },\n                                    \"in_play\": {\n                                        \"linedrive\": 0,\n                                        \"groundball\": 2,\n                                        \"popup\": 0,\n                                        \"flyball\": 5\n                                    },\n                                    \"games\": {\n                                        \"svo\": 0,\n                                        \"qstart\": 0,\n                                        \"shutout\": 0,\n                                        \"complete\": 0,\n                                        \"win\": 0,\n                                        \"loss\": 0,\n                                        \"save\": 0,\n                                        \"hold\": 1,\n                                        \"blown_save\": 0\n                                    }\n                                }\n                            },\n                            \"fielding\": {\n                                \"overall\": {\n                                    \"po\": 27,\n                                    \"a\": 9,\n                                    \"dp\": 2,\n                                    \"tp\": 0,\n                                    \"error\": 0,\n                                    \"tc\": 36,\n                                    \"fpct\": 1.0,\n                                    \"c_wp\": 0,\n                                    \"pb\": 0,\n                                    \"steal\": {\n                                        \"caught\": 0,\n                                        \"stolen\": 0,\n                                        \"pickoff\": 0,\n                                        \"pct\": 0\n                                    },\n                                    \"errors\": {\n                                        \"throwing\": 0,\n                                        \"fielding\": 0,\n                                        \"interference\": 0,\n                                        \"total\": 0\n                                    },\n                                    \"assists\": {\n                                        \"outfield\": 0,\n                                        \"total\": 9\n                                    }\n                                }\n                            }\n                        },\n                        \"players\": [\n                            {\n                                \"preferred_name\": \"Ketel\",\n                                \"first_name\": \"Ketel\",\n                                \"last_name\": \"Marte\",\n                                \"jersey_number\": \"4\",\n                                \"id\": \"04b68b54-6217-4436-b3e8-bed6d3bd4942\",\n                                \"full_name\": \"Ketel Marte\",\n                                \"status\": \"A\",\n                                \"position\": \"IF\",\n                                \"primary_position\": \"2B\",\n                                \"statistics\": {\n                                    \"hitting\": {\n                                        \"overall\": {\n                                            \"ab\": 5,\n                                            \"lob\": 2,\n                                            \"rbi\": 0,\n                                            \"abhr\": 0,\n                                            \"abk\": 5.0,\n                                            \"bip\": 4,\n                                            \"babip\": 0.25,\n                                            \"bbk\": 0.0,\n                                            \"bbpa\": 0.0,\n                                            \"iso\": 0.2,\n                                            \"obp\": 0.2,\n                                            \"ops\": 0.6,\n                                            \"seca\": 0.2,\n                                            \"slg\": 0.4,\n                                            \"xbh\": 1,\n                                            \"pitch_count\": 17,\n                                            \"lob_risp_2out\": 0,\n                                            \"team_lob\": 0,\n                                            \"ab_risp\": 1,\n                                            \"hit_risp\": 0,\n                                            \"rbi_2out\": 0,\n                                            \"linedrive\": 1,\n                                            \"groundball\": 3,\n                                            \"popup\": 0,\n                                            \"flyball\": 0,\n                                            \"ap\": 5,\n                                            \"avg\": \".200\",\n                                            \"gofo\": 0.0,\n                                            \"onbase\": {\n                                                \"s\": 0,\n                                                \"d\": 1,\n                                                \"t\": 0,\n                                                \"hr\": 0,\n                                                \"tb\": 2,\n                                                \"bb\": 0,\n                                                \"ibb\": 0,\n                                                \"hbp\": 0,\n                                                \"fc\": 1,\n                                                \"roe\": 1,\n                                                \"h\": 1,\n                                               \t\"ci\": 0,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t        \t\t\t\t\t\"rov\": 0,\n                                                \"cycle\": 0\n                                            },\n                                            \"runs\": {\n                                                \"total\": 2\n                                            },\n                                            \"outcome\": {\n                                                \"klook\": 3,\n                                                \"kswing\": 1,\n                                                \"ktotal\": 4,\n                                                \"ball\": 6,\n                                                \"iball\": 0,\n                                                \"dirtball\": 0,\n                                                \"foul\": 3\n                                            },\n                                            \"outs\": {\n                                                \"po\": 0,\n                                                \"fo\": 0,\n                                                \"fidp\": 0,\n                                                \"lo\": 0,\n                                                \"lidp\": 0,\n                                                \"go\": 3,\n                                                \"gidp\": 0,\n                                                \"klook\": 0,\n                                                \"kswing\": 1,\n                                                \"ktotal\": 1,\n                                                \"sacfly\": 0,\n                                                \"sachit\": 0\n                                            },\n                                            \"steal\": {\n                                                \"caught\": 0,\n                                                \"stolen\": 0,\n                                                \"pct\": 0,\n                                                \"pickoff\": 0\n                                            },\n                                            \"pitches\": {\n                                                \"count\": 17,\n                                                \"btotal\": 6,\n                                                \"ktotal\": 11\n                                            },\n                                            \"games\": {\n                                                \"start\": 1,\n                                                \"play\": 1,\n                                                \"finish\": 0,\n                                                \"complete\": 0\n                                            }\n                                        }\n                                    },\n                                    \"fielding\": {\n                                        \"overall\": {\n                                            \"po\": 1,\n                                            \"a\": 2,\n                                            \"dp\": 1,\n                                            \"tp\": 0,\n                                            \"error\": 0,\n                                            \"tc\": 3,\n                                            \"fpct\": 1.0,\n                                            \"c_wp\": 0,\n                                            \"pb\": 0,\n                                            \"rf\": 3.0,\n                                            \"inn_1\": 24,\n                                            \"inn_2\": 8.0,\n                                            \"steal\": {\n                                                \"caught\": 0,\n                                                \"stolen\": 0,\n                                                \"pickoff\": 0,\n                                                \"pct\": 0\n                                            },\n                                            \"errors\": {\n                                                \"throwing\": 0,\n                                                \"fielding\": 0,\n                                                \"interference\": 0,\n                                                \"total\": 0\n                                            },\n                                            \"assists\": {\n                                                \"outfield\": 0,\n                                                \"total\": 2\n                                            },\n                                            \"games\": {\n                                                \"start\": 1,\n                                                \"play\": 1,\n                                                \"finish\": 0,\n                                                \"complete\": 0\n                                            }\n                                        },\n                                        \"positions\": [\n                                            {\n                                                \"po\": 1,\n                                                \"a\": 2,\n                                                \"dp\": 1,\n                                                \"tp\": 0,\n                                                \"error\": 0,\n                                                \"tc\": 3,\n                                                \"fpct\": 1.0,\n                                                \"c_wp\": 0,\n                                                \"pb\": 0,\n                                                \"rf\": 3.0,\n                                                \"inn_1\": 24,\n                                                \"inn_2\": 8.0,\n                                                \"position\": \"2B\",\n                                                \"steal\": {\n                                                    \"caught\": 0,\n                                                    \"stolen\": 0,\n                                                    \"pickoff\": 0,\n                                                    \"pct\": 0\n                                                },\n                                                \"errors\": {\n                                                    \"throwing\": 0,\n                                                    \"fielding\": 0,\n                                                    \"interference\": 0,\n                                                    \"total\": 0\n                                                },\n                                                \"assists\": {\n                                                    \"outfield\": 0,\n                                                    \"total\": 2\n                                                },\n                                                \"games\": {\n                                                    \"start\": 1,\n                                                    \"play\": 1,\n                                                    \"finish\": 0,\n                                                    \"complete\": 0\n                                                }\n                                            }\n                                        ]\n                                    }\n                                }\n                            }\n                        ]\n                    },\n                    \"pitching\": {\n                        \"win\": {\n                            \"preferred_name\": \"Zac\",\n                            \"first_name\": \"Zachary\",\n                            \"last_name\": \"Gallen\",\n                            \"jersey_number\": \"23\",\n                            \"status\": \"A\",\n                            \"position\": \"P\",\n                            \"primary_position\": \"SP\",\n                            \"id\": \"e488a3a6-4673-4e5d-befe-6d5ab57b0b8e\",\n                            \"win\": 2,\n                            \"loss\": 0,\n                            \"save\": 0,\n                            \"hold\": 0,\n                            \"blown_save\": 0,\n                            \"full_name\": \"Zac Gallen\"\n                        },\n                        \"loss\": {\n                            \"preferred_name\": \"Nestor\",\n                            \"first_name\": \"Nestor\",\n                            \"last_name\": \"Cortes\",\n                            \"jersey_number\": \"65\",\n                            \"status\": \"A\",\n                            \"position\": \"P\",\n                            \"primary_position\": \"SP\",\n                            \"id\": \"ba4aa21b-081c-4ce4-a3db-b1ddf6a08c4c\",\n                            \"win\": 0,\n                            \"loss\": 1,\n                            \"save\": 0,\n                            \"hold\": 0,\n                            \"blown_save\": 0,\n                            \"full_name\": \"Nestor Cortes\"\n                        },\n                        \"hold\": [\n                            {\n                                \"preferred_name\": \"Scott\",\n                                \"first_name\": \"Scott\",\n                                \"last_name\": \"McGough\",\n                                \"jersey_number\": \"30\",\n                                \"status\": \"A\",\n                                \"position\": \"P\",\n                                \"primary_position\": \"RP\",\n                                \"id\": \"712e68e8-096a-48e0-9079-b52c02661829\",\n                                \"win\": 0,\n                                \"loss\": 0,\n                                \"save\": 0,\n                                \"hold\": 1,\n                                \"blown_save\": 0,\n                                \"full_name\": \"Scott McGough\"\n                            }\n                        ]\n                    },\n                    \"officials\": [\n                        {\n                            \"id\": \"c43b0ed1-b595-48a3-83de-d5dfb292d907\",\n                            \"full_name\": \"Scott Barry\",\n                            \"first_name\": \"Scott\",\n                            \"last_name\": \"Barry\",\n                            \"assignment\": \"HP\",\n                            \"experience\": \"14\"\n                        }\n                    ]\n                }\n            }\n        ]\n    },\n    \"_comment\": \"Generation started @ 2025-01-23 14:46:42 UTC ended @ 2025-01-23 14:46:44 UTC\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "league": {
                      "type": "object",
                      "properties": {
                        "alias": {
                          "type": "string",
                          "example": "MLB"
                        },
                        "name": {
                          "type": "string",
                          "example": "Major League Baseball"
                        },
                        "id": {
                          "type": "string",
                          "example": "2fa448bc-fc17-4d3d-be03-e60e080fdc26"
                        },
                        "date": {
                          "type": "string",
                          "example": "2024-04-02"
                        },
                        "games": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "game": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "4d3677f8-c02a-4d35-977d-27cb0a9d92a6"
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "closed"
                                  },
                                  "coverage": {
                                    "type": "string",
                                    "example": "full"
                                  },
                                  "game_number": {
                                    "type": "integer",
                                    "example": 1,
                                    "default": 0
                                  },
                                  "day_night": {
                                    "type": "string",
                                    "example": "N"
                                  },
                                  "scheduled": {
                                    "type": "string",
                                    "example": "2024-04-03T01:40:00+00:00"
                                  },
                                  "home_team": {
                                    "type": "string",
                                    "example": "25507be1-6a68-4267-bd82-e097d94b359b"
                                  },
                                  "away_team": {
                                    "type": "string",
                                    "example": "a09ec676-f887-43dc-bbb3-cf4bbaee9a18"
                                  },
                                  "attendance": {
                                    "type": "integer",
                                    "example": 39863,
                                    "default": 0
                                  },
                                  "duration": {
                                    "type": "string",
                                    "example": "2:27"
                                  },
                                  "season_id": {
                                    "type": "string",
                                    "example": "6a5c278f-ebce-41f9-b1ba-2160b6af04ce"
                                  },
                                  "season_type": {
                                    "type": "string",
                                    "example": "REG"
                                  },
                                  "season_year": {
                                    "type": "integer",
                                    "example": 2024,
                                    "default": 0
                                  },
                                  "double_header": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "entry_mode": {
                                    "type": "string",
                                    "example": "STOMP"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "example": "747220"
                                  },
                                  "time_zones": {
                                    "type": "object",
                                    "properties": {
                                      "venue": {
                                        "type": "string",
                                        "example": "US/Arizona"
                                      },
                                      "home": {
                                        "type": "string",
                                        "example": "US/Arizona"
                                      },
                                      "away": {
                                        "type": "string",
                                        "example": "US/Eastern"
                                      }
                                    }
                                  },
                                  "venue": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "example": "Chase Field"
                                      },
                                      "market": {
                                        "type": "string",
                                        "example": "Arizona"
                                      },
                                      "capacity": {
                                        "type": "integer",
                                        "example": 48359,
                                        "default": 0
                                      },
                                      "surface": {
                                        "type": "string",
                                        "example": "turf"
                                      },
                                      "address": {
                                        "type": "string",
                                        "example": "401 East Jefferson Street"
                                      },
                                      "city": {
                                        "type": "string",
                                        "example": "Phoenix"
                                      },
                                      "state": {
                                        "type": "string",
                                        "example": "AZ"
                                      },
                                      "zip": {
                                        "type": "string",
                                        "example": "85004"
                                      },
                                      "country": {
                                        "type": "string",
                                        "example": "USA"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "bf05de0d-7ced-4a19-8e17-2bbd985f8a92"
                                      },
                                      "field_orientation": {
                                        "type": "string",
                                        "example": "N"
                                      },
                                      "stadium_type": {
                                        "type": "string",
                                        "example": "retractable"
                                      },
                                      "time_zone": {
                                        "type": "string",
                                        "example": "US/Arizona"
                                      },
                                      "location": {
                                        "type": "object",
                                        "properties": {
                                          "lat": {
                                            "type": "string",
                                            "example": "33.445302"
                                          },
                                          "lng": {
                                            "type": "string",
                                            "example": "-112.066687"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "broadcasts": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "network": {
                                          "type": "string",
                                          "example": "ARID"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "Internet"
                                        },
                                        "locale": {
                                          "type": "string",
                                          "example": "Home"
                                        }
                                      }
                                    }
                                  },
                                  "weather": {
                                    "type": "object",
                                    "properties": {
                                      "forecast": {
                                        "type": "object",
                                        "properties": {
                                          "temp_f": {
                                            "type": "integer",
                                            "example": 73,
                                            "default": 0
                                          },
                                          "condition": {
                                            "type": "string",
                                            "example": "Partly cloudy"
                                          },
                                          "humidity": {
                                            "type": "integer",
                                            "example": 33,
                                            "default": 0
                                          },
                                          "dew_point_f": {
                                            "type": "integer",
                                            "example": 42,
                                            "default": 0
                                          },
                                          "cloud_cover": {
                                            "type": "integer",
                                            "example": 25,
                                            "default": 0
                                          },
                                          "obs_time": {
                                            "type": "string",
                                            "example": "2024-04-03T02:13:23.000+00:00"
                                          },
                                          "wind": {
                                            "type": "object",
                                            "properties": {
                                              "speed_mph": {
                                                "type": "integer",
                                                "example": 12,
                                                "default": 0
                                              },
                                              "direction": {
                                                "type": "string",
                                                "example": "SSW"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "current_conditions": {
                                        "type": "object",
                                        "properties": {
                                          "temp_f": {
                                            "type": "integer",
                                            "example": 70,
                                            "default": 0
                                          },
                                          "condition": {
                                            "type": "string",
                                            "example": "Clear"
                                          },
                                          "humidity": {
                                            "type": "integer",
                                            "example": 39,
                                            "default": 0
                                          },
                                          "dew_point_f": {
                                            "type": "integer",
                                            "example": 43,
                                            "default": 0
                                          },
                                          "cloud_cover": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "obs_time": {
                                            "type": "string",
                                            "example": "2024-04-03T04:04:09.000+00:00"
                                          },
                                          "wind": {
                                            "type": "object",
                                            "properties": {
                                              "speed_mph": {
                                                "type": "integer",
                                                "example": 8,
                                                "default": 0
                                              },
                                              "direction": {
                                                "type": "string",
                                                "example": "WSW"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "final": {
                                    "type": "object",
                                    "properties": {
                                      "inning": {
                                        "type": "integer",
                                        "example": 9,
                                        "default": 0
                                      },
                                      "inning_half": {
                                        "type": "string",
                                        "example": "T"
                                      }
                                    }
                                  },
                                  "home": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "example": "Diamondbacks"
                                      },
                                      "market": {
                                        "type": "string",
                                        "example": "Arizona"
                                      },
                                      "abbr": {
                                        "type": "string",
                                        "example": "AZ"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "25507be1-6a68-4267-bd82-e097d94b359b"
                                      },
                                      "runs": {
                                        "type": "integer",
                                        "example": 7,
                                        "default": 0
                                      },
                                      "hits": {
                                        "type": "integer",
                                        "example": 11,
                                        "default": 0
                                      },
                                      "errors": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "win": {
                                        "type": "integer",
                                        "example": 4,
                                        "default": 0
                                      },
                                      "loss": {
                                        "type": "integer",
                                        "example": 2,
                                        "default": 0
                                      },
                                      "probable_pitcher": {
                                        "type": "object",
                                        "properties": {
                                          "preferred_name": {
                                            "type": "string",
                                            "example": "Zac"
                                          },
                                          "first_name": {
                                            "type": "string",
                                            "example": "Zachary"
                                          },
                                          "last_name": {
                                            "type": "string",
                                            "example": "Gallen"
                                          },
                                          "jersey_number": {
                                            "type": "string",
                                            "example": "23"
                                          },
                                          "id": {
                                            "type": "string",
                                            "example": "e488a3a6-4673-4e5d-befe-6d5ab57b0b8e"
                                          },
                                          "full_name": {
                                            "type": "string",
                                            "example": "Zac Gallen"
                                          },
                                          "win": {
                                            "type": "integer",
                                            "example": 1,
                                            "default": 0
                                          },
                                          "loss": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "era": {
                                            "type": "number",
                                            "example": 1.8,
                                            "default": 0
                                          }
                                        }
                                      },
                                      "starting_pitcher": {
                                        "type": "object",
                                        "properties": {
                                          "preferred_name": {
                                            "type": "string",
                                            "example": "Zac"
                                          },
                                          "first_name": {
                                            "type": "string",
                                            "example": "Zachary"
                                          },
                                          "last_name": {
                                            "type": "string",
                                            "example": "Gallen"
                                          },
                                          "jersey_number": {
                                            "type": "string",
                                            "example": "23"
                                          },
                                          "id": {
                                            "type": "string",
                                            "example": "e488a3a6-4673-4e5d-befe-6d5ab57b0b8e"
                                          },
                                          "full_name": {
                                            "type": "string",
                                            "example": "Zac Gallen"
                                          },
                                          "win": {
                                            "type": "integer",
                                            "example": 1,
                                            "default": 0
                                          },
                                          "loss": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "era": {
                                            "type": "number",
                                            "example": 1.8,
                                            "default": 0
                                          }
                                        }
                                      },
                                      "roster": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "preferred_name": {
                                              "type": "string",
                                              "example": "Jorge"
                                            },
                                            "first_name": {
                                              "type": "string",
                                              "example": "Jorge"
                                            },
                                            "last_name": {
                                              "type": "string",
                                              "example": "Barrosa"
                                            },
                                            "jersey_number": {
                                              "type": "string",
                                              "example": "1"
                                            },
                                            "id": {
                                              "type": "string",
                                              "example": "fdc95893-39e2-4c38-8544-132b2d30bd83"
                                            },
                                            "full_name": {
                                              "type": "string",
                                              "example": "Jorge Barrosa"
                                            },
                                            "status": {
                                              "type": "string",
                                              "example": "A"
                                            },
                                            "position": {
                                              "type": "string",
                                              "example": "OF"
                                            },
                                            "primary_position": {
                                              "type": "string",
                                              "example": "LF"
                                            }
                                          }
                                        }
                                      },
                                      "lineup": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "example": "965b3981-3ecf-402e-a338-6dde330b445c"
                                            },
                                            "inning": {
                                              "type": "integer",
                                              "example": 9,
                                              "default": 0
                                            },
                                            "order": {
                                              "type": "integer",
                                              "example": 1,
                                              "default": 0
                                            },
                                            "position": {
                                              "type": "integer",
                                              "example": 1,
                                              "default": 0
                                            },
                                            "sequence": {
                                              "type": "integer",
                                              "example": 15,
                                              "default": 0
                                            },
                                            "inning_half": {
                                              "type": "string",
                                              "example": "T"
                                            }
                                          }
                                        }
                                      },
                                      "scoring": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "number": {
                                              "type": "integer",
                                              "example": 9,
                                              "default": 0
                                            },
                                            "sequence": {
                                              "type": "integer",
                                              "example": 9,
                                              "default": 0
                                            },
                                            "runs": {
                                              "type": "string",
                                              "example": "X"
                                            },
                                            "hits": {
                                              "type": "string",
                                              "example": "X"
                                            },
                                            "errors": {
                                              "type": "string",
                                              "example": "X"
                                            },
                                            "type": {
                                              "type": "string",
                                              "example": "inning"
                                            }
                                          }
                                        }
                                      },
                                      "statistics": {
                                        "type": "object",
                                        "properties": {
                                          "hitting": {
                                            "type": "object",
                                            "properties": {
                                              "overall": {
                                                "type": "object",
                                                "properties": {
                                                  "ab": {
                                                    "type": "integer",
                                                    "example": 35,
                                                    "default": 0
                                                  },
                                                  "lob": {
                                                    "type": "integer",
                                                    "example": 17,
                                                    "default": 0
                                                  },
                                                  "rbi": {
                                                    "type": "integer",
                                                    "example": 6,
                                                    "default": 0
                                                  },
                                                  "abhr": {
                                                    "type": "integer",
                                                    "example": 35,
                                                    "default": 0
                                                  },
                                                  "abk": {
                                                    "type": "integer",
                                                    "example": 5,
                                                    "default": 0
                                                  },
                                                  "bip": {
                                                    "type": "integer",
                                                    "example": 27,
                                                    "default": 0
                                                  },
                                                  "babip": {
                                                    "type": "number",
                                                    "example": 0.37,
                                                    "default": 0
                                                  },
                                                  "bbk": {
                                                    "type": "number",
                                                    "example": 0.571,
                                                    "default": 0
                                                  },
                                                  "bbpa": {
                                                    "type": "number",
                                                    "example": 0.103,
                                                    "default": 0
                                                  },
                                                  "iso": {
                                                    "type": "number",
                                                    "example": 0.115,
                                                    "default": 0
                                                  },
                                                  "obp": {
                                                    "type": "number",
                                                    "example": 0.385,
                                                    "default": 0
                                                  },
                                                  "ops": {
                                                    "type": "number",
                                                    "example": 0.814,
                                                    "default": 0
                                                  },
                                                  "seca": {
                                                    "type": "number",
                                                    "example": 0.229,
                                                    "default": 0
                                                  },
                                                  "slg": {
                                                    "type": "number",
                                                    "example": 0.429,
                                                    "default": 0
                                                  },
                                                  "xbh": {
                                                    "type": "integer",
                                                    "example": 2,
                                                    "default": 0
                                                  },
                                                  "pitch_count": {
                                                    "type": "integer",
                                                    "example": 150,
                                                    "default": 0
                                                  },
                                                  "lob_risp_2out": {
                                                    "type": "integer",
                                                    "example": 5,
                                                    "default": 0
                                                  },
                                                  "team_lob": {
                                                    "type": "integer",
                                                    "example": 8,
                                                    "default": 0
                                                  },
                                                  "ab_risp": {
                                                    "type": "integer",
                                                    "example": 12,
                                                    "default": 0
                                                  },
                                                  "hit_risp": {
                                                    "type": "integer",
                                                    "example": 5,
                                                    "default": 0
                                                  },
                                                  "rbi_2out": {
                                                    "type": "integer",
                                                    "example": 0,
                                                    "default": 0
                                                  },
                                                  "linedrive": {
                                                    "type": "integer",
                                                    "example": 7,
                                                    "default": 0
                                                  },
                                                  "groundball": {
                                                    "type": "integer",
                                                    "example": 13,
                                                    "default": 0
                                                  },
                                                  "popup": {
                                                    "type": "integer",
                                                    "example": 4,
                                                    "default": 0
                                                  },
                                                  "flyball": {
                                                    "type": "integer",
                                                    "example": 4,
                                                    "default": 0
                                                  },
                                                  "ap": {
                                                    "type": "integer",
                                                    "example": 39,
                                                    "default": 0
                                                  },
                                                  "avg": {
                                                    "type": "string",
                                                    "example": ".314"
                                                  },
                                                  "gofo": {
                                                    "type": "number",
                                                    "example": 0.89,
                                                    "default": 0
                                                  },
                                                  "onbase": {
                                                    "type": "object",
                                                    "properties": {
                                                      "s": {
                                                        "type": "integer",
                                                        "example": 9,
                                                        "default": 0
                                                      },
                                                      "d": {
                                                        "type": "integer",
                                                        "example": 1,
                                                        "default": 0
[...]
